services:
  mlserver:
    build:
      context: ./
      dockerfile: ./mlserver/Dockerfile
    image: ghcr.io/jortdejong13/country-guess-mlserver:latest
    expose:
      - 5001
    environment:
      - MODEL_NAME=triplet_model
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5001/health"]
    volumes:
      - ./mlruns:/app/mlruns # Optional

  webapp:
    build:
      context: ./
      dockerfile: ./webapp/Dockerfile
    image: ghcr.io/jortdejong13/country-guess-webapp:latest
    ports:
      - "5002:5002"
    environment:
      - MLSERVER_URL=http://mlserver:5001
      - DRAWING_DIR=data/drawings
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5002/health"]
    volumes:
      - ./data/drawings:/data/drawings # Optional
