<!doctype html>
<html lang="en">
    <head>
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Draw Country</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />
    </head>
    <body>
        <a
            href="https://github.com/JortdeJong13/country-guess"
            id="source-link"
            target="_blank"
        >
            source
            <img
                src="{{ url_for('static', filename='github.png') }}"
                alt="GitHub"
            />
        </a>

        <h1>Draw a Country</h1>

        <div id="canvas-container">
            <canvas id="canvas" width="500" height="500"></canvas>
        </div>

        <div id="buttons-container">
            <button id="guess-btn">Guess Country</button>
            <button id="refresh-btn">Clear Drawing</button>
        </div>

        <p id="guess-message"></p>

        <div id="instruction-message">
            Select the country you tried to draw:
        </div>

        <div id="confirmation-container">
            <select id="country-dropdown">
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
            <button id="confirm-btn">Confirm</button>
        </div>

        <script src="{{ url_for('static', filename='js/drawing.js') }}"></script>
    </body>
</html>
